<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <nav class="">
    <div class="container">
      <h1 class="text-white">
        <%= title %>
      </h1>
      <div class="" id="navbarResponsive">
        <ul class="">
          <li class=""><a class="" href="/">Home</a>
          </li>
          <li class=""><a class=""
              href="/createqr">CreateQr</a></li>
          <li class=""><a class=""
              href="/Intervenant">Intervenants</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
</body>

</html>